<h2>Remote Addrs requests count</h2>

<p>TODO delete</p>
<ul>Logs file from service: {{ this.logFileStorageService.logFile.path }}</ul>
<ul>Is file: {{ this.logFileStorageService.logFile.isFile }}</ul>

<p>Remote addresses ({{ remoteAddrsRequestsCount.length }}):</p>
<div>
  <table>
    <thead>
      <tr>
        <th>Remote Addr</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let remoteAddrRequestsCount of remoteAddrsRequestsCount">
        <td>{{ remoteAddrRequestsCount.remoteAddr }}</td>
        <td>{{ remoteAddrRequestsCount.count }}</td>
      </tr>
    <tbody>
  </table>
</div>
