<!doctype html>
<title>Logs</title>

<h2>Logs file</h2>
<p>Write the path of the file with logs</p>
<div>
  <input type="text" id="log-file" class="logs-file" value="{{ this.logsPathInput }}" #logsFileInput>
  <button type="submit" (click) = 'setLogsFile(logsFileInput.value)'>Analyze file</button>
</div>
<div *ngIf="this.logFileStorageService.logFile.isFile === false && this.logFileStorageService.logFile.path">
  <p class="error-msg"> ERROR. File not found: {{ this.logFileStorageService.logFile.path }} </p>
</div>

