<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>Logs</title>

<body>

<h2>Table of contents</h2>
<p><a href="#logs-path">Logs file</a></p>

<h2 id="logs-path">Logs file</h2>
<p>Write the path of the file with logs</p>
<form method="POST">
<textarea class="logs-path" name="logs-path">{{ logs_path }}</textarea>
<input type="submit" value="Analyze file">
</form>
{% if error_msg is not none %}
  <p class="error-msg"> {{ error_msg }} </p>
{% endif %}

</body>
