<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>Logs</title>

<body>

<a href="http://127.0.0.1:4200/logs-path">Select logs file</a>

<hr>

<h2>Table of contents</h2>
<p><a href="#ips-requests-count">IPs requests count</a></p>
<p><a href="#ips-to-analyze">IPs to analyze</a></p>
<p><a href="#suspicious-logs">Suspicious logs</a></p>
<p><a href="#all-logs">All logs</a></p>

<h2 id="ips-requests-count">IPs requests count</h2>
<div>
Remote addresses ({{ remote_addrs_count|length }}):
</div>
<br>
<div>
  <table>
    <thead>
      <tr>
        {% for key in remote_addrs_count_keys %}
          <th> {{ key }} </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for remote_addr_count in remote_addrs_count %}
        <tr>
          <td> {{ remote_addr_count["remote_addr"] }} </td>
          <td> {{ remote_addr_count["count"] }} </td>
        </tr>
      {% endfor %}
    <tbody>
  </table>
</div>

<h2 id="ips-to-analyze">IPs to analyze</h2>
<p>Only the IPs with suspicious requests are shown</p>
<form method="POST">
<textarea class="ips-vt" name="ips">{% for ip in ips_suspicious %}
{{ ip }}{% endfor %}</textarea>
<input type="submit" value="Check in VT">
</form>
{{ vt_results|safe }}

<h2 id="suspicious-logs">Suspicious logs</h2>
<div>
  {{ logs_suspicious|safe }}
</div>
</body>

<h2 id="all-logs">All logs</h2>
<div>
  <table>
    <thead>
      <tr>
        {% for key in logs_all_keys %}
          <th> {{ key }} </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for log in logs_all %}
        <tr>
          <td> {{ log["remote_addr"] }} </td>
          <td> {{ log["remote_user"] }} </td>
          <td> {{ log["time_local"] }} </td>
          <td> {{ log["request"][:50] }} </td>
          <td> {{ log["status"] }} </td>
          <td> {{ log["body_bytes_sent"] }} </td>
          <td> {{ log["http_referer"] }} </td>
          <td> {{ log["http_user_agent"] }} </td>
        </tr>
      {% endfor %}
    <tbody>
  </table>
</div>
</body>
