<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>Logs</title>

<body>

<h2>IPs requests count</h2>
<div>
  {{ ips_count|safe }}
</div>

<h2>IPs to analyze</h2>
<p>Only the IPs with suspicious requests are shown</p>
<form method="POST">
<textarea class="ips-vt" name="ips">{% for ip in ips_suspicious %}
{{ ip }}{% endfor %}</textarea>
<input type="submit" id="input-vt" value="Check in VT">
</form>
{{ vt_results|safe }}

<h2>Suspicious logs</h2>
<div>
  {{ logs|safe }}
</div>
</body>
