body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

table.logs, .logs th, .logs td {
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.logs th {
    background-color: #add8e6;
    color: black;
}

.logs tr:nth-child(odd)	{ background-color:#eee; }
.logs tr:nth-child(even)	{ background-color:#fff; }

.logs tr:hover            { background-color: #ffff99;}
