body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

textarea {
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: inherit;
}


textarea.logs-file {
  height: 1em;
  width: 50em;
}

textarea.ips-vt {
  height: 15em;
  width: 15em;
}

input {
  padding: 0.25em 0.5em;
  border: 2px solid;
  border-radius: 4px;
}

table, th, td {
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
}

th {
    background-color: #add8e6;
    color: black;
}

tr:nth-child(odd)	{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover { background-color: #ffff99;}
