<h2>Logs</h2>

<p>TODO delete</p>
<ul>Logs file from service: {{ this.logFileStorageService.logFile.path }}</ul>
<ul>Is file: {{ this.logFileStorageService.logFile.isFile }}</ul>


<p>Logs ({{ logs.length }}):</p>
<div>
  <table>
    <thead>
      <tr>
        <th>remoteAddr</th>
        <th>remoteUser</th>
        <th>timeLocal</th>
        <th>request</th>
        <th>status</th>
        <th>bodyBytesSent</th>
        <th>httpReferer</th>
        <th>httpUserAgent</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs">
        <td>{{ log.remoteAddr }}</td>
        <td>{{ log.remoteUser }}</td>
        <td>{{ log.timeLocal }}</td>
        <td>{{ log.request }}</td>
        <td>{{ log.status }}</td>
        <td>{{ log.bodyBytesSent }}</td>
        <td>{{ log.httpReferer }}</td>
        <td>{{ log.httpUserAgent }}</td>
      </tr>
    <tbody>
  </table>
</div>

